html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Palatino', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #687776;
}

h1 {
    font-size: 2.5rem;
}

h1.name {
    font-size: 5rem;
}

h1.interests {
    font-size: 4rem;
}

h1.project-title {
    font-size: 3.5rem;
}

h2.about-me-text {
    font-size: 3rem;
    line-height: 1;
}

h3 {
    font-size: 3rem;
}

h3.section-header {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    line-height: 2;
}

hr {
    opacity: 1;
    margin: 0
}

a.project-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 8% 0 8%;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

a.project-link:hover {
    background-color: #ef838a;
}

/* Title */

#title {
    
    color: white;
}

#nav {
    color: white;
}

.navbar {
    background-color: rgb(0, 0, 0, 0.8);
    margin: 0;
    padding: 5px 2% 5px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color:#ef838a;
}

.site {
    font-size: 2rem;
    font-weight: bold;
}

.title-background {
    background-image: url("./images/jon-angle-flowers.png");
    background-size: cover;
    border-top: 40px solid black;
    height: 1400px;
    /* border-bottom: 12px solid black; */
}

.name-container {
    position: relative;
    top: 35px;
    width: 40%;
    margin-left: 4%;
}

.interests-container {
    position: relative;
    top: 600px;
    width: 150%;
    margin-left: 70%;
    text-align: right;
}

#rotatingInterests {
    color: #6e9c86;
}

.links {
    font-size: 1.5rem;
    justify-content: flex-start;
}

.icons {
    color: rgba(255,255,255,.55);
}

/* Home Content */

#home-content {
    background-color: #687776;
    /* text-align: center; */
    color: white;
}

#aboutAnchor {
    top: -240px;
}

.about-row {
    display: flex;
    margin: 0 5% 0 10%;
    text-align: left;
    gap: 3%;
    position: relative;
    top: -180px;
}

.laptop-image {
    width: 100%;
    height: auto;
}

.secondary-project-image {
    width: 60%;
    height: auto;
}

.about-me-text {
    font-size: 1.2rem;
    margin: 0 5% 0 5%;
    line-height: 1.5;
}

.bottom-swatch {
    width: 100%;
    height: auto;
}

.top-swatch {
    width: 100%;
    height: auto;
}

.blurb {
    text-align: justify;
    text-justify: inter-word;
}

.project-tagline {
    font-size: 1.3rem;
}

.about-project-text {
    font-size: 1rem;
}

.about-secondary-project-text {
    font-size: .8rem;
}

.home-row {
    display: flex;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-section-container {
    width: 100%;
    margin: auto;
    padding-bottom: 3%;
}

.home-section-header {
    background-color: black;
    color: white;
    width: 100%;
    border-bottom: 10px solid #ef838a;
    padding: 40px;
    margin: 5% 0 0 0;
}

.portfolio-header {
    background-image: url('./images/black-swatch.png');
    background-size: cover;
    height: 200px;
}

#portfolioAnchor {
    top: 20px;
}

#portfolioSection {
    background-color: black;
}

#portfolioHeader {
    position: relative;
    top: 100px;
    left: 150px;
    text-align: left;
}

.portfolio-project-container {
    display: flex;
    flex-direction: column;
}

.portfolio-project-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    align-items: stretch;
}

.secondary-project-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 10%;
    gap: 5%;
    margin: 0 5% 0 5%;
}

.secondary-project-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.secondary-project-link-row {
    display: flex;
    justify-content: center;
}

.project-flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-left-item {
    display: flex;
    flex-grow: 2;
    margin-left: 5%;
    margin-right: 2.5%;
}

.project-left-item-showboat {
    flex: 0 1 100%;
    display: flex;
    margin-left: 5%;
    margin-right: 2.5%;
}

.project-right-item {
    display: flex;
    flex: 0 1 35%; 
    margin-right: 5%;
    margin-left: 2.5%;
}

.about-project {
    margin-right: 8%;
}

.link-row {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.section-header-text {
    font-size: 1.2rem;
    margin: 0 5% 0 5%;
    line-height: 1.5;
}

#bookeaterRow {
    background-color: #ef838a90;
    border-top: 10px solid black;
}

.book-show-line {
    border-top: 10px solid black;
    border-bottom: 10px solid #ef838a;
    /* -webkit-transform:rotate(2deg); */
}

#showboatRow {
    background-color: #000000DF;
    color: white;
}

.show-hop-line {
    border-top: 10px solid rgb(233, 84, 32);
    border-bottom: 10px solid black;
}

#hophubRow {
    background-color: rgb(233, 84, 32, 0.8);
    color: white;
}

.hop-cat-line {
    border-top: 10px solid #faebd7;
    border-bottom: 10px solid rgb(233, 84, 32);
}

#icpRow {
    background-color: #faebd790;
}

.cat-jon-line {
    border-top: 10px solid black;
    border-bottom: 10px solid #faebd7;
}

#jonRow {
    background-color: #000000DF;
    color: white;
}

.jon-platform-line {
    border-top: 10px solid green;
    border-bottom: 10px solid black;
}

#platformRow {
    background-color:rgb(0,128,0,0.5);
}

.platform-hangman-line {
    border-top: 10px solid white;
    border-bottom: 10px solid green;
}

.portfolio-gif {
    width: 100%;
    height: auto;
}

#showboat-gif {
    width: 500px;
    height: auto;
}

.col-item {
    padding-bottom: 7%;
}

.bio {
    font-size: 1.2rem;;
}

iframe {
    width: 560px;
    height: 315px;
}

/* Skills */

#skillsAnchor {
    top: -50px;
}

#skillsHeader {
    text-align: left;
    margin-left: 100px;
    margin-top: 2%;
}

.skills {
    margin-bottom: -200px;
}

.left-plant-image {
    width: 30%;
    height: auto;
}

.skills-container {
    display: inline-block;
    width: 50%;
    margin-left: 12%;
    margin-right: auto;
    position: relative;
    top: -300px;
}

.working-on-container {
    position: relative;
    top: 20px;
    left: -200px;
}

.skills-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:-10px;
    gap: 4%;
}

.skills-row>* {
    flex: 1 1 160px;
    margin: 20px;
}

.skill-icon {
    font-size: 8rem;
}

/* Music */

#musicHeader {
    text-align: left;
    position: relative;
    top: -120px;
    left: 140px;
}

/* Footer */

#footer {
    color:white;
    text-align: center;
    flex-shrink: 0;
}

.footer-row {
    background-color: black;
    border-top: 6px solid yellowgreen;
    padding: 2% 0 1%;
}

.copyright {
    font-size: 1rem;
}

/* Projects Page */

#projects {
    background-color: rgb(153 205 50 / 13%);
    height: fit-content;
    text-align: center;
    padding: 7% 0 7%;
    flex: 1 0 auto;
}


.bookeater-header-image {
    width: 30%;
    height: auto;
    margin-bottom: 3%;
}

.showboat-image {
    width: 90%;
    height: auto;
    position: relative;
    right: -20px;
}

.hangman {
    width: 80%;
}

.project-container {
    padding-top: 15%;
}

.project-img {
    width: 80%;
}

.project-description {
    font-size: 1em;
}

.github-link {
    padding-top: 5%;
    font-size: 1.2em;
}

.bookeater-gif {
    width: 30%;
    height: auto;
}

.bookeater-logo {
    width: 80%;
    height: auto;
}

/* Music Page */

#musicSection {
    background-color: black;
    padding: 20px 0 80px 0;
    text-align: center;
}

#video-reel {
    background-color: rgb(153 205 50 / 13%);
    height: fit-content;
    text-align: center;
    padding: 7% 0 7%;
    flex: 1 0 auto;
}

/* Resume */

#resume {
    background-color: rgba(153, 205, 50, 0.125);
    text-align: center;
    height: fit-content;
    flex: 1 0 auto;
}

.resume-container {
    padding: 4% 0 7%;
}

.resume-img {
    height: auto;
    width: 50%;
}

/* Contact */

#contact {
    background-color: rgba(153, 205, 50, 0.125);
    text-align: center;
    height: fit-content; 
    flex: 1 0 auto;
}

.contact-container {
    padding: 7% 20%;
}

.input-bar {
    margin-left: 25%;
    margin-right: 25%;
}

/* Game Page */

.game-container {
    padding: 7% 5%;
}

#game {
    background-color: rgba(153, 205, 50, 0.125);
    text-align: center;
    height: fit-content;
    flex: 1 0 auto;
}

.note-box {
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
    border-radius: 20%;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
}

.notes-container {
    display: none;
}

.pressed {
    background-color: greenyellow;
  }

.key-img {
    height: 50%;
    width: auto;
    text-align: center;
    margin-top: 20%;
}

.key-col {
    width: auto;
}

.col-content {
    padding: 10%;
}

#scoreBox {
    visibility: hidden;
}


@media screen and (max-width: 600px) {
    .title-background {
        background-image: none;
        background-color: black;
        height: auto;
    }
    iframe {
        width: 280px;
        height: 157px;
    }
    .resume-img {
        height: auto;
        width: 100%;
    }
    .portfolio-project-row {
        flex-wrap: wrap;
    }
    .about-row {
        flex-wrap: wrap;
    }
    .name-container {
        position: relative;
        top: 0;
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding: 2%;
    }
    .interests-container {
        position: relative;
        top: 0;
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding: 2%;
    }
    .about-row {
        display: flex;
        margin: 0;
        text-align: center;
        gap: 3%;
        position: relative;
        top: 0;
        padding: 2%;
    }
    .skills-row {
        flex-wrap: wrap;
    }
    .portfolio-header {
        background-image: none;
    }
}

@media screen and (max-width: 1200px) {
    iframe {
        width: 420px;
        height: 236px;
    }
}
