html, body {
    height: 100%;
}

body {
    font-family: 'Archivo', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-family: 'Archivo Black';
    padding-bottom: 30px;
}

h3 {
    padding-bottom: 30px;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    line-height: 2;
}

hr {
    opacity: 1;
    margin: 0
}

/* Title */

#title {
    
    color: white;
}

#nav {
    color: white;
}

.navbar {
    background-color: black;
    margin: 0;
    padding: 10px 10% 10px;
    border-bottom: 6px solid yellowgreen;
}


.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link {
    font-size: .95rem;
}

.site {
    font-size: 2rem;
    font-weight: bold;
}

.title-background {
    background-image: url("./images/cool-jon.jpg");
    background-size: cover;

    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; */

    height: 700px;
    border-bottom: 12px solid black;
}

.name-container {
    text-align: center;
    position: relative;
    top: 100px;
    left: 100px;
    width: 40%;
}

.links {
    font-size: 1.5rem;
    justify-content: space-around;
}

.icons {
    color: rgba(255,255,255,.55);
}

/* Home Content */

#home-content {
    background-color: white;
    text-align: center;
}

.about-me-text {
    font-size: 1.2rem;
    margin: 0 5% 0 5%;
}

.about-project-text {
    font-size: 1.2rem;
}

.home-row {
    display: flex;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-container {
    padding: 7% 0 7%;
}

.home-section-container {
    width: 100%;
    margin: auto;
    padding-bottom: 3%;
}

.home-section-header {
    background-color: black;
    color: white;
    width: 100%;
    border-bottom: 10px solid #ef838a;
    padding: 40px;
    margin: 5% 0 0 0;
}

.portfolio-project-container {
    display: flex;
    flex-direction: column;
}

.portfolio-project-row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    padding: 5%;
}

#bookeaterRow {
    background-color: #ef838a90;
    border-top: 10px solid black;
}

.book-show-line {
    border-top: 10px solid black;
    border-bottom: 10px solid #ef838a;
}

#showboatRow {
    background-color: #000000DF;
    color: white;
}

.show-hop-line {
    border-top: 10px solid rgb(233, 84, 32);
    border-bottom: 10px solid black;
}

#hophubRow {
    background-color: rgb(233, 84, 32, 0.8);
    color: white;
}

.hop-cat-line {
    border-top: 10px solid #faebd7;
    border-bottom: 10px solid rgb(233, 84, 32);
}

#icpRow {
    background-color: #faebd790;
}

.cat-jon-line {
    border-top: 10px solid black;
    border-bottom: 10px solid #faebd7;
}

#jonRow {
    background-color: #000000DF;
    color: white;
}

.jon-platform-line {
    border-top: 10px solid green;
    border-bottom: 10px solid black;
}

#platformRow {
    background-color:rgb(0,128,0,0.5);
}

.platform-hangman-line {
    border-top: 10px solid white;
    border-bottom: 10px solid green;
}

.portfolio-gif {
    width: 100%;
    height: auto;
}

#showboat-gif {
    width: 500px;
    height: auto;
}

#hangman-gif {
    width: 500px;
    height: auto;
}

#cat-gif {
    width: 500px;
    height: auto;
}

.col-item {
    padding-bottom: 7%;
}

.bio {
    font-size: 1.2rem;;
}

iframe {
    width: 560px;
    height: 315px;
}

/* Footer */

#footer {
    color:white;
    text-align: center;
    flex-shrink: 0;
}

.footer-row {
    background-color: black;
    border-top: 6px solid yellowgreen;
    padding: 2% 0 1%;
}

.copyright {
    font-size: 1rem;
}

/* Projects Page */

#projects {
    background-color: rgb(153 205 50 / 13%);
    height: fit-content;
    text-align: center;
    padding: 7% 0 7%;
    flex: 1 0 auto;
}

.hophub-image {
    width: 450px;
    height: auto;
    margin: 40px 0 40px 0;
}

.bookeater-image {
    width: 300px;
    height: auto;
}

.showboat-image {
    width: 440px;
    height: auto;
}

.hangman {
    width: 80%;
}

.project-container {
    padding-top: 15%;
}

.project-img {
    width: 80%;
}

.project-description {
    font-size: 1em;
}

.github-link {
    padding-top: 5%;
    font-size: 1.2em;
}

.bookeater-gif {
    width: 100%;
}

/* Music Page */

#video-reel {
    background-color: rgb(153 205 50 / 13%);
    height: fit-content;
    text-align: center;
    padding: 7% 0 7%;
    flex: 1 0 auto;
}

/* Resume */

#resume {
    background-color: rgba(153, 205, 50, 0.125);
    text-align: center;
    height: fit-content;
    flex: 1 0 auto;
}

.resume-container {
    padding: 4% 0 7%;
}

.resume-img {
    height: auto;
    width: 50%;
}

/* Contact */

#contact {
    background-color: rgba(153, 205, 50, 0.125);
    text-align: center;
    height: fit-content; 
    flex: 1 0 auto;
}

.contact-container {
    padding: 7% 20%;
}

.input-bar {
    margin-left: 25%;
    margin-right: 25%;
}

/* Game Page */

.game-container {
    padding: 7% 5%;
}

#game {
    background-color: rgba(153, 205, 50, 0.125);
    text-align: center;
    height: fit-content;
    flex: 1 0 auto;
}

.note-box {
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
    border-radius: 20%;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
}

.notes-container {
    display: none;
}

.pressed {
    background-color: greenyellow;
  }

.key-img {
    height: 50%;
    width: auto;
    text-align: center;
    margin-top: 20%;
}

.key-col {
    width: auto;
}

.col-content {
    padding: 10%;
}

#scoreBox {
    visibility: hidden;
}


@media screen and (max-width: 600px) {
    .title-background {
        display: none;
    }
    iframe {
        width: 280px;
        height: 157px;
    }
    .resume-img {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    iframe {
        width: 420px;
        height: 236px;
    }
}
